body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
table {
  font-size: 14px;
}


.bill{
  margin-bottom:10px;
}
