body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding: 50px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
